[Desktop Entry]
Version=1.0
Name=Tor Browser
Exec=gnome-terminal -- bash -c "/home/$USER/Escritorio/Tor/tor-browser/./start-tor-browser.desktop; exec bash"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Info-Gath;
